@media (max-width: 991.98px) {
    .header {
        &__nav {
            width: 40%;
        }
        &__nav-book {
            width: 90%;
        }
    }
    .redirect {
        &__link {
            font-size: 38px;
            line-height: 40px;
        }
    }
    .about{
        &__title{
            padding-top: 0;
        }
        &__img{
            height: auto;
        }
    }
    .footer {
        padding: 25px 0 25px 0;
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__col:nth-of-type(2) {
            order: 1;
        }
    }
}

@media (max-width: 767.98px) {
    .intro {
        padding-left: 15px;
        padding-right: 15px;
        &__top {
            font-size: 36px;
        }
    }
    .work {
        &__case-subtitle {
            width: 90px;
            height: 90px;
        }
    }
    .about {
        &__grid {
            grid-template-columns: repeat(8, 1fr);
            row-gap: 40px;
        }
        &__column {
            grid-column: 8 span;
        }
    }   
    .contact {
        &__grid {
            grid-template-columns: repeat(8, 1fr);
            row-gap: 40px;
        }
        &__column {
            grid-column: 8 span;
        }
    }
}

@media (max-width: 639.98px) {
    .header {
        &__nav {
            width: 65%;
        }
        &__nav-book {
            bottom: 75px;
        }
        &__menu-link {
            font-size: 24px;
            line-height: 28px;
        }
        &__nav-submenu {
            left: -164px;
            .header__menu-link {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .work {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            padding: 0;
            gap: 0;
        }
        &__case-full {
            .work__case-link {
                height: 50vh;
            }
            .work__case-img {
                height: inherit;
            }
        }
        &__case-half {
            .work__case-link {
                height: 50vh;
            }
        }
    }
    .redirect {
        &__link {
            font-size: 28px;
            line-height: 32px;
        }
    }
}
