@import "vars";
@import "mixins";
@import "fonts";
@import "functions";
@import "global";

.header {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: url("../images/bg.webp");
    background-repeat: no-repeat;
    background-position: center center;
    &__logo-img {
        position: fixed;
        z-index: 10;
    }
    &__burger-container {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 999;
        background-color: #58595b;
        // padding: 20px;
        &--active {
            background-color: transparent;
        }
    }
    &__burger {
        color: var(--white);
        background: transparent;
        border: none;
        outline: none;
        width: 60px;
        height: 54px;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 22px;
            width: 18px;
            height: 2px;
            background-color: currentColor;
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
        &::before {
            top: 20px;
        }
        &::after {
            top: calc(100% - 22px);
        }
    }
    &__burger-active {
        .header__burger-line {
            transform: scale(0);
            transition: transform 0.3s ease-in-out;
        }
        &::before {
            transform: rotate(45deg);
            top: 50%;
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }

        &::after {
            transform: rotate(-45deg);
            top: 50%;
            transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
        }
    }
    &__burger-line {
        position: absolute;
        left: 22px;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 2px;
        background-color: currentColor;
        transition: transform 0.3s ease-in-out;
    }
    &__nav {
        display: flex;
        position: fixed;
        right: -250px;
        top: 0;
        height: 100vh;
        background-color: rgba(255, 0, 0, 0.8);
        max-width: 100%;
        // width: 450px;
        width: 30%;
        // justify-content: center;
        padding-left: 40px;
        align-items: center;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        opacity: 0;
        z-index: 10;
    }
    &__nav-active {
        visibility: visible;
        opacity: 1;
        right: 0;
    }
    &__nav-menu {
        display: flex;
        flex-direction: column;
    }
    &__nav-submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -10px;
        left: -224px;
        background-color: rgba(255, 0, 0, 0.8);
        padding: 20px;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
        transition: 0.3s linear;
        visibility: hidden;
        opacity: 0;
        .header__menu-link {
            font-size: 28px;
            line-height: 32px;
        }
    }
    &__nav-book {
        position: absolute;
        width: 50%;
        bottom: 50px;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 15px 0;
        text-align: center;
        border: none;
        background: transparent;
        cursor: pointer;
        text-transform: uppercase;
        font-family: inherit;
        font-size: 15px;
        color: var(--white);
        border: 2px solid var(--white);
        transition: background-color 0.5s ease;
        &:hover {
            color: rgb(255, 0, 0);
            background-color: var(--white);
        }
    }
    &__menu-item {
        position: relative;
        text-decoration: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 25px;
        }
        &:nth-of-type(2) {
            position: relative;
            &:hover > .header__nav-submenu {
                visibility: visible;
                opacity: 1;
                transform: rotateX(0deg);
            }
        }
    }
    &__menu-link {
        color: var(--white);
        font-size: 36px;
        line-height: 40px;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background-color: #fff;
            transition: width 0.5s ease-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
    &__contact {
        height: auto;
        background: none;
    }
}

.intro {
    padding-top: 80px;
    text-align: center;
    &__top {
        font-family: "BlackMango";
        font-size: 50px;
        line-height: 120%;
        font-style: italic;
        margin-bottom: 50px;
    }
    &__description {
        margin-bottom: 80px;
    }
}

.work {
    &__wrapper {
        padding: 0 15px;
        margin: 0 auto;
        max-width: 1170px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-template-rows: auto;
        gap: 20px;
    }
    &__case {
        position: relative;
        margin-bottom: 30px;
    }

    &__case-img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    &__case-full {
        .work__case-link {
            height: 100vh;
            margin-bottom: 30px;
            position: relative;
            display: block;
            overflow: hidden;
        }
        .work__case-img {
            // height: inherit;
        }
    }
    &__case-part {
        .work__case-img {
            width: 100%;
            object-fit: cover;
            height: inherit;
        }
        .work__case-link {
            height: 50vh;
            position: relative;
            display: block;
            overflow: hidden;
        }
    }
    &__case-half {
        // width: 100%;
        // text-align: right;
        // .work__case-link {
        //     max-width: 960px;
        //     background-position: center center;
        //     background-repeat: no-repeat;
        //     background-size: 100% auto;
        //     position: relative;
        // }
        .work__case-image-container {
            position: relative;
            max-width: 960px;
            display: block;
            margin-bottom: 30px;
            margin-left: auto;
        }
        .work__case-link {
            position: relative;
            display: block;
            overflow: hidden;
            height: 450px;
        }
        .work__case-img {
            height: inherit;
        }
    }
    &__case-subtitle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: initial;
        width: 120px;
        height: 120px;
        background-color: #e8e8e8;
        color: #a6a8ab;
        font-size: 9px;
        line-height: 150%;
        letter-spacing: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
}

.redirect {
    padding: 50px 0;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    &__link {
        font-size: 50px;
        display: inline-block;
        text-transform: uppercase;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.75);
            transition: width 0.5s ease-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

.contact {
    padding-top: 100px;
    &__title {
        font-size: 36px;
        line-height: 38px;
    }
    &__grid {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        padding: 0 15px;
        margin: 0 auto;
    }
    &__column {
        grid-column: 6 span;
    }
    &__img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.about {
    padding-top: 100px;
    &__title {
        font-family: "BlackMango";
        font-size: 36px;
        line-height: 38px;
        padding-top: 200px;
        margin-bottom: 15px;
    }
    &__subtitle {
        font-family: "BlackMango";
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    &__grid {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        padding: 0 15px;
        margin: 0 auto;
    }
    &__column {
        grid-column: 6 span;
    }
    &__text{
        font-size: 18px;
        line-height: 24px;
        text-indent: 10px;
        margin-bottom: 15px;
    }
    &__img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

.footer {
    padding: 50px 0;
    font-size: 14px;
    &__socials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: fit-content;
        gap: 25px;
    }
    &__footer__email {
        // display: inline;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: center;
        align-items: center;
        gap: 15px;
    }
    &__col {
        display: flex;
        justify-content: center;
    }
    &__copyright {
        font-weight: 900;
    }
    &__year {
        padding-right: 5px;
    }
}

.form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
    &__item {
        width: 100%;
    }
    &__item-half {
        width: calc((100% - 24px) / 2);
    }
    &__field {
        border: none;
        border-bottom: 1px solid #a9a9a9;
        width: 100%;
        height: 52px;
        background-color: transparent;
        &:focus {
            outline: 2px dashed var(--black);
            outline-offset: 0px;
        }
    }
    .textarea {
        border: none;
        border-bottom: 1px solid #5c5c5c;
        width: 100%;
        height: 140px;
        color: var(--black);
        background-color: transparent;
        resize: none;
    }
    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 100px;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        color: var(--black);
        background-color: var(--white);
        transition: color 0.3s, background-color 0.3s;
        user-select: none;
        width: 200px;
        // border: none;
        cursor: pointer;
        &:hover {
            color: var(--white);
            background-color: var(--black);
        }
    }
}

@import "media";
