<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__col">
                <a class="footer__email" href="mailto:annakyrytsia.photographer@gmail.com">annakyrytsia.photographer@gmail.com</a>
            </div>
            <div class="footer__col">
                <p class="footer__copyright">&#169;
                    <span class="footer__year">2023</span>
                    Anna Kyrytsia
                </p>
            </div>
            <div class="footer__col">
                <ul class="footer__socials">
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="https://www.instagram.com/photo.in.desire/" target="_blank">
                            <img class="footer__socials-icon" src="images/socials/facebook.svg" alt="">
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link" href="https://www.facebook.com/photo.in.desire" target="_blank">
                            <img class="footer__socials-icon" src="images/socials/instagram.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>