<header class="header">
    <a class="header__logo" href="index.html">
        <img class="header__logo-img" src="images/logo.webp" width="100" height="100" alt="logo">
    </a>
    <div class="header__burger-container">
        <button class="header__burger" aria-label="burger-menu">
            <span class="header__burger-line"></span>
        </button>
    </div>
    <nav class="header__nav">
        <ul class="header__nav-menu">
            <li class="header__menu-item">
                <a class="header__menu-link" href="about.html">About Myself</a>
            </li>
            <li class="header__menu-item">
                <p class="header__menu-link">Stories</p>
                <ul class="header__nav-submenu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="family.html">Family</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="wedding.html">Wedding</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="lovestory.html">Love story</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="events.html">Events</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="individual.html">Individual</a>
                    </li>
                </ul>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="contact.html">Contact</a>
            </li>
        </ul>
        <a class="header__nav-book" href="contact.html">
            Book your date
        </a>
    </nav>
</header>