<header class="header">
    <a class="header__logo" href="#">
        <img src="" alt="logo">
    </a>
    <div class="header__burger-container">
        <button class="header__burger" aria-label="burger-menu">
            <span class="header__burger-line"></span>
        </button>
    </div>
    <nav class="header__nav">
        <ul class="header__nav-menu">
            <li class="header__menu-item">
                <a class="header__menu-link" href="">About Myself</a>
            </li>
            <li class="header__menu-item">
                <p class="header__menu-link" href="">Stories</p>
                <ul class="header__nav-submenu">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Family</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Wedding</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Love story</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Events</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="">Individual</a>
                    </li>
                </ul>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="">Prices</a>
            </li>
            <li class="header__menu-item">
                <a class="header__menu-link" href="contact.html">Contact</a>
            </li>
        </ul>
        <div id="dialog-content" class="header__modal modal" style="display:none;max-width:1200px;">
             
        </div>
        <button class="header__nav-book" data-fancybox data-src="#dialog-content">
            Book your date
        </button>
    </nav>
</header>